<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="/intelcpu/0/load/1/plot" value="false" />
    <add key="/intelcpu/0/load/2/plot" value="false" />
    <add key="/intelcpu/0/load/3/plot" value="false" />
    <add key="/intelcpu/0/load/4/plot" value="false" />
    <add key="/intelcpu/0/load/0/plot" value="false" />
    <add key="/ram/load/0/plot" value="false" />
    <add key="/ram/data/0/plot" value="false" />
    <add key="/ram/data/1/plot" value="false" />
    <add key="/nvidiagpu/0/temperature/0/plot" value="false" />
    <add key="/nvidiagpu/0/fan/0/plot" value="false" />
    <add key="/nvidiagpu/0/clock/0/plot" value="false" />
    <add key="/nvidiagpu/0/clock/1/plot" value="false" />
    <add key="/nvidiagpu/0/clock/2/plot" value="false" />
    <add key="/nvidiagpu/0/load/0/plot" value="false" />
    <add key="/nvidiagpu/0/load/1/plot" value="false" />
    <add key="/nvidiagpu/0/load/2/plot" value="false" />
    <add key="/nvidiagpu/0/control/0/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/3/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/2/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/1/plot" value="false" />
    <add key="/nvidiagpu/0/load/3/plot" value="false" />
    <add key="/hdd/0/temperature/0/plot" value="false" />
    <add key="/hdd/0/data/0/plot" value="false" />
    <add key="/hdd/0/load/0/plot" value="false" />
    <add key="/hdd/1/temperature/0/plot" value="false" />
    <add key="/hdd/1/load/0/plot" value="false" />
    <add key="mainForm.Location.X" value="57" />
    <add key="mainForm.Location.Y" value="38" />
    <add key="mainForm.Width" value="470" />
    <add key="mainForm.Height" value="640" />
    <add key="/lpc/it8771e/voltage/0/plot" value="false" />
    <add key="/hdd/2/load/0/values" value="" />
    <add key="/lpc/it8771e/voltage/1/plot" value="false" />
    <add key="/lpc/it8771e/voltage/2/plot" value="false" />
    <add key="/lpc/it8771e/voltage/3/plot" value="false" />
    <add key="/lpc/it8771e/voltage/4/plot" value="false" />
    <add key="/lpc/it8771e/voltage/5/plot" value="false" />
    <add key="/lpc/it8771e/voltage/6/plot" value="false" />
    <add key="/lpc/it8771e/voltage/7/plot" value="false" />
    <add key="/lpc/it8771e/voltage/8/plot" value="false" />
    <add key="/lpc/it8771e/temperature/0/plot" value="false" />
    <add key="/lpc/it8771e/temperature/1/plot" value="false" />
    <add key="/lpc/it8771e/fan/0/plot" value="false" />
    <add key="/hdd/2/load/0/plot" value="false" />
    <add key="/hdd/1/load/0/values" value="H4sIAAAAAAAEAJvsf4x7I991DwaGA/+vtwqZMYBAw3lbwQrer2A2UPwp94LOjVA2AJgXcq8wAAAA" />
    <add key="/hdd/1/temperature/0/values" value="H4sIAAAAAAAEAEuIbDuQzH/dg4HhwH8ApePEKgwAAAA=" />
    <add key="/nvidiagpu/0/clock/1/values" value="H4sIAAAAAAAEAOveU8u9ke+6BwPDgf9RvxW0GRlA4MD/J0HdnRuhbADryqV9JAAAAA==" />
    <add key="/hdd/0/load/0/values" value="H4sIAAAAAAAEALvjt4t7I991DwaGA//72uTMGIDgyYFNTsUVjF8ZwODA/xb2ks6NUDYAJIMaNzAAAAA=" />
    <add key="/atigpu/0/clock/0/plot" value="false" />
    <add key="/atigpu/0/clock/1/plot" value="false" />
    <add key="/atigpu/0/load/0/plot" value="false" />
    <add key="/ram/data/0/values" value="H4sIAAAAAAAEAC2QO0jCURjFLQrLrJYok//9Bz1AyKEwe0Nn0SvhUIQUBWmmPWnoATVIFBQ9wBSiILFBiuZsFnJwCBrKlhojhIaGlF5kksn9utOPw7nfOd+XfnaXhMvuLQpFNGuw2vIVuaduYtCMOAVv3EhYqhgXHDuRsP7pFtz+IiHtJE6oGJZ7pwUHMxJ++kn3xxji11OCk7syVtWkI19GXYDmJ3Qytn3E3V0yrjqJIcl4UlHuULGMUBHpSS+D53tCsNXOcBCZpKw+hsXAjOACC0PqwiW4Rc/wYaRu9VUMoQf6+6hk+Lojz1Ahw2iGWJfbq+eIWP8mYeeQ/JrcXuU/1H9tXoJv1viqEC+arVQbhB7JM+OsjXre2kzwHxNLHSawNpp52mjGXIzmnC5yDHrHBJ8PcOzZKevdwLF56RDcZ+RQpsjvaeZYMJPHVcuxb6XbarQc8S26Q7Sao1VLWf5SDr2bOqyAoyFG9wzWcDiGf93h//5/WQ6htwQCAAA=" />
    <add key="/hdd/0/data/0/values" value="H4sIAAAAAAAEAEsM9TuQzH/dg4HhwH8AWHMT0AwAAAA=" />
    <add key="/intelcpu/0/power/0/plot" value="false" />
    <add key="/intelcpu/0/clock/2/plot" value="false" />
    <add key="/intelcpu/0/clock/1/plot" value="false" />
    <add key="/intelcpu/0/clock/1/values" value="H4sIAAAAAAAEAGM1VuDdyHfdo6vxlMvGqCQmBiBoSHJ3abWHsGWsNVw25qWB2XuFo1y8lqSD2ef9ElwC1FPB7ItA9px9KWD2qhvBLpvnZYPZ/AyfXbI2QNS4GPK4rhKAmHlA+JbLhVYI23mjictMUwj7EtCcTKFkMPtJZ5rLlj2JYPZKoJkNzhB75a0rXSzOp8PtPcWVAbE3YrXLYkuI+HKg+qNZEHvdN25xWW2cARdvsoGoeQ40f+4yiJufAtmLr0PYK4DmZChD2PuB/s1szoSHSXLfqfcMYHDg/71zcxlBLDGjuy7ldRB3cjMscrkQC/HLtyOzXfKYIG64AHTnq58QM1cCzTdaifBXtR0kbHcKd7qwpifA1Z/4mwxnrzBIg4fPrj1ZYPaPIzkuU28nwePC5RzEj0tvNLlEJEDEJ831dVl1HGLOPqBfbO5MS9sIdT8Ar+fMtfgBAAA=" />
    <add key="/intelcpu/0/clock/0/values" value="H4sIAAAAAAAEAKuYpsS7ke+6R1bycaeXUUlMDEDQkHTc6Zstgm2ZmwZmNwLZT5emw8VD1FPh4pn7UsDsJiD71rxsMLseyM7akAoXzxBMgqs3a4Ww64BsPtMkuJo0oWS4+Wx7E+Hqd5kj7J1yC8GO4c6A6zVTT4fb61eLcJuOeQZc3MYDoqYZyC6dngJXc/FlCtw9BwRS4GretGTC7XqideI9Axgc+G9puIARxPoBFN9Wh3CnXCzCL8psqXC9eewItuCMRLian3ZpcPHnQUdYYOwNDmlwNS37suBq+G8nwf3y9kEG3N53vojw3HY8Ga5XI2RK2kaomwG7TXVi7AEAAA==" />
    <add key="/intelcpu/0/temperature/2/plot" value="false" />
    <add key="/intelcpu/0/temperature/1/plot" value="false" />
    <add key="/intelcpu/0/temperature/0/plot" value="false" />
    <add key="plotPanel.MinTimeSpan" value="0" />
    <add key="plotPanel.MaxTimeSpan" value="600" />
    <add key="plotPanel.MinVoltage" value="NaN" />
    <add key="plotPanel.MaxVoltage" value="NaN" />
    <add key="plotPanel.MinClock" value="NaN" />
    <add key="plotPanel.MaxClock" value="NaN" />
    <add key="plotPanel.MinTemperature" value="NaN" />
    <add key="plotPanel.MaxTemperature" value="NaN" />
    <add key="plotPanel.MinLoad" value="NaN" />
    <add key="plotPanel.MaxLoad" value="NaN" />
    <add key="plotPanel.MinFan" value="NaN" />
    <add key="plotPanel.MaxFan" value="NaN" />
    <add key="plotPanel.MinFlow" value="NaN" />
    <add key="plotPanel.MaxFlow" value="NaN" />
    <add key="plotPanel.MinControl" value="NaN" />
    <add key="plotPanel.MaxControl" value="NaN" />
    <add key="plotPanel.MinLevel" value="NaN" />
    <add key="plotPanel.MaxLevel" value="NaN" />
    <add key="plotPanel.MinFactor" value="NaN" />
    <add key="plotPanel.MaxFactor" value="NaN" />
    <add key="plotPanel.MinPower" value="NaN" />
    <add key="plotPanel.MaxPower" value="NaN" />
    <add key="plotPanel.MinData" value="NaN" />
    <add key="plotPanel.MaxData" value="NaN" />
    <add key="plotPanel.MinSmallData" value="NaN" />
    <add key="plotPanel.MaxSmallData" value="NaN" />
    <add key="treeView.Columns.Sensor.Width" value="250" />
    <add key="treeView.Columns.Value.Width" value="100" />
    <add key="treeView.Columns.Min.Width" value="100" />
    <add key="treeView.Columns.Max.Width" value="100" />
    <add key="listenerPort" value="8085" />
    <add key="/lpc/it8771e/control/0/plot" value="false" />
    <add key="/lpc/it8771e/control/1/plot" value="false" />
    <add key="/lpc/it8771e/control/2/plot" value="false" />
    <add key="/amdcpu/0/load/1/plot" value="false" />
    <add key="/amdcpu/0/load/2/plot" value="false" />
    <add key="/amdcpu/0/load/3/plot" value="false" />
    <add key="/amdcpu/0/load/4/plot" value="false" />
    <add key="/amdcpu/0/load/0/plot" value="false" />
    <add key="/amdcpu/0/clock/1/plot" value="false" />
    <add key="/amdcpu/0/clock/2/plot" value="false" />
    <add key="/amdcpu/0/clock/3/plot" value="false" />
    <add key="/amdcpu/0/clock/4/plot" value="false" />
    <add key="/amdcpu/0/temperature/0/plot" value="false" />
    <add key="/amdcpu/0/clock/0/plot" value="false" />
    <add key="/hdd/0/factor/1/values" value="" />
    <add key="/hdd/0/temperature/0/values" value="H4sIAAAAAAAEALvjt4t7I991DwaGA//72uTMGMBgglNxBeNXCPvA/5MPijs3QtkA0wbnVDAAAAA=" />
    <add key="/nvidiagpu/0/control/0/values" value="H4sIAAAAAAAEAOveU8u9ke+6BwPDgf9RvxW0GRlA4MD/3RXdnRuhbADF2HlXJAAAAA==" />
    <add key="/nvidiagpu/0/smalldata/3/values" value="H4sIAAAAAAAEAOveU8u9ke+6BwPDgf9vby5hZIAA13lXmi1h7PM+P95DmAf++/EXwNVoPalRhLGdW+elbYSqAQCXXxVPVAAAAA==" />
    <add key="/nvidiagpu/0/smalldata/2/values" value="H4sIAAAAAAAEAOveU8u9ke+6BwPDgf9vby5hZACBA+JO8640W8LY531+vGeAcP778RfA1Wg9qVGEsZ1b56VthKoBAC8/KgFUAAAA" />
    <add key="/nvidiagpu/0/smalldata/1/values" value="H4sIAAAAAAAEAOveU8u9ke+6BwPDgf9vby5hZAABp98u8640W8LY531+vAezgWr8+AvgarSe1CjC2M6t89I2QtUAACeZtEBUAAAA" />
    <add key="/nvidiagpu/0/load/3/values" value="H4sIAAAAAAAEAOveU8u9ke+6BwPDgf9vby5hZAABmbf28640W8LY531+vAezgWr8+AvgarSe1CjC2M6t89I2QtUAAF6HeO5UAAAA" />
    <add key="/nvidiagpu/0/load/2/values" value="H4sIAAAAAAAEAOveU8u9ke+6BwPDgf9RvxW0GRlA4MD/3RXdnRuhbADF2HlXJAAAAA==" />
    <add key="/nvidiagpu/0/load/1/values" value="H4sIAAAAAAAEAOveU8u9ke+6BwPDgf9RvxW0GRlA4MD/3RXdnRuhbADF2HlXJAAAAA==" />
    <add key="/nvidiagpu/0/load/0/values" value="H4sIAAAAAAAEAOveU8u9ke+6BwPDgf9RvxW0GRlA4MD/3RXdnRuhbADF2HlXJAAAAA==" />
    <add key="/nvidiagpu/0/clock/2/values" value="H4sIAAAAAAAEAOveU8u9ke+6BwPDgf9RvxW0GRlA4MD/J0HdnRuhbADryqV9JAAAAA==" />
    <add key="/nvidiagpu/0/clock/0/values" value="H4sIAAAAAAAEAOveU8u9ke+6BwPDgf9RvxW0GRlA4MD/J0HdnRuhbADryqV9JAAAAA==" />
    <add key="/atigpu/0/control/0/values" value="" />
    <add key="/atigpu/0/load/0/values" value="H4sIAAAAAAAEADs/uVl1Ot91DwaGA//XdKQyMkBBlHXqEhjb1lBcAsI68H+rfi1czb4jRkEwNgCR6BQRSAAAAA==" />
    <add key="/atigpu/0/voltage/0/values" value="" />
    <add key="/atigpu/0/clock/1/values" value="H4sIAAAAAAAEADs/uVl1Ot91DwaGA//XdKQyMoBAwzLnKOvUJTC2Lpe4BJgNVHM0rBauZt8RoyAYGwCNr+4uSAAAAA==" />
    <add key="/atigpu/0/clock/0/values" value="H4sIAAAAAAAEADs/uVl1Ot91DwaGA//XdKQyMgCB+8K1zlHWqUtgbF0ucQkGMDjw/2hYLVzNviNGQTA2AFc/XzBIAAAA" />
    <add key="/atigpu/0/fan/0/values" value="" />
    <add key="/atigpu/0/temperature/0/values" value="" />
    <add key="/nvidiagpu/0/fan/0/values" value="H4sIAAAAAAAEADvJpXUgmf+6BwPDgf8AVjyjnQwAAAA=" />
    <add key="logSensorsMenuItem" value="false" />
    <add key="/ram/data/1/values" value="H4sIAAAAAAAEAC2QTyiDYRzH3+ZgWKRGKC6Si4Na20rJ97DEWsrBiGL+vAwRo/xJK0pGebeI3lc5KEnqeYqcJKQdVk5TshMl2sFhkZFN5u35eU6fvn2f3/f7+6Xict5x/n2TJF1lLK42g6Q/5xdDSVefYKWaY9rcL3i8nmPxUxZ8WsqR6iN+yOGYcQ4LNhRypFtJNzKG6I1XcKyZwW8ivVZhqNyh+Q/zDIEg8ckkQ6SOuHaR4SmXcvfXGPaMpHdEGBa+BwUfPTJsnQ9RVpxhamdEcMsrw9vJgGDbN0PSSt0usjj2YvTXk8fxdUuefRNH9w/xub5Xg0Z8VsSxuk1+h75XQZr6h9wcwVFrQhLvKlNssgjdp2g4sFNP77OG0C7x9buGcjvN9M9pGAvTHP+divb1XsGzLyqUHspyJ1UsX3oEH36oyH4j/8anCl8jeSp+VWy66LYOg4boCt1hQmdbGWUFjBpqZOpgTqioCtM9lzIqPJ2/8vF//z+LqbBYBAIAAA==" />
    <add key="/amdcpu/0/clock/4/values" value="H4sIAAAAAAAEAHPckqU6ne+6BwPDgf/HwmoZGYCgIUHNdcK7LCYQ2/70epf64wg2TJzR7R+cbYckfrbsqstEJL0Kd6+yoOs9B1SzQDQbzLYFisdXQsQdkNSA1BuwXIPrbTiOaZcNktsYkNzzwxXB/oXERncPzEyQvTD32CGJI/sd2V5k9hmgXxZC9YLU/+/D9C9IDTa9Dmhmwuw6ErkHHobI6q9OfkdQrz1aGC5E8heyGpi4UxarK7IfkcMZFiboduUvwLTLDslMexx+RI4vRxxxao9kL3q8Y4sLezTz4f5Ci19kvRttsgn6hVn0vzg4XQHzxXvvqeB8wQ9MYzDzfwPTFbYwRw7DGKR8BIpTbGngMJo4chpA9uNELP4FqeffBklvuMIEXT0s/dudJpz+caUZ9PDElt4c0MIWWzmAnsaQ1SOnJQDthnkZpAQAAA==" />
    <add key="/amdcpu/0/clock/3/values" value="H4sIAAAAAAAEAHPckqU6ne+6BwPDgf9b9WsZGYCgIUHNdcK7LCYQ2/70epeG4wg2TJzR7R+cbYckfrbsqguyXoW7V1nQ9Z4Dqlkomg1m2wLF4yoh4g5IakDqDVmuwfXWH8e0ywbJbQxI7vnhimD/QmKjuwdmJshemHvskMSR/Y5sLzL7DNAvC6B6Qer/92H69wxSmCDrdUAzE2bXkcg9WNVfnfwOp15kN09E8u8CJH8hxyNM3CmL1RXZj8jhDAsTdLvyF2CmBzskM+1x+BE5vhxxxKk9kr3o8Y4tLuzRzIf7C0m9A5o5m2wQYZK3ADPcQOLCNv/FwekKmC/uq0wF54tqYL6Amf8bmK6w5QvkMPyDlPZwxelhNHFsacAeh39B6vm3QdKbHVq841IPS//I7sSV/nGlGQc8cYGsBjmdYCsH0NMYsnrktAQA3VO2raQEAAA=" />
    <add key="/amdcpu/0/clock/2/values" value="H4sIAAAAAAAEAHPckqU6ne+6BwPDgf9LOWoZGYCgIUHNdcK7LCYQ2/70epf64wg2TJzR7R+cbYckfrbsqguyXoW7V1lg7AaoOeeAajbaZIPZtkDxuEqIuAOSOSD1hizXMPQi22WD5DYGJPf8cEWwfyGxcbkHpGaBaDbc/IbjmH5HtheZfQbol4VQvSD1//sQ5iOrwabXAc1MmF1HIvdgVX918jucehuwxBGIvRDJX8jxCBN3ymJ1RfYjcjjDwgTdrvwFmHbZIZlpj8OPyPHliCNO7ZHsRY93bHFhj2Y+3F9I6h1w2IXLHJC4SvJ/cXC6AuaLc3+ngPOFzyd1V5j5v4FpBlu+QA7DGKR8hCtOD6OJY0sD6HGKrF5gGyS94fILunpY+kd2pwNSmKOnAWxpxgFPXCCrQU4nyPkO2T0LcKhHTksA0dAjg6QEAAA=" />
    <add key="/amdcpu/0/clock/1/values" value="H4sIAAAAAAAEADPszVKdznfdg4HhwP8lHLWMDEDQkKDmOuFdFhOIbX96vUvDcQQbJs7o9g/OtkMSj1L67YKsV+HuVRYYux5qzrmyqy6bbLLBbFugeFwlRNwByRyQegOWayzobkC2ywbJTGS9P1z/uUyEsn+5/iPoHpCahaLZcPPrj2P6HdleZPYZoF8WQPWihxWyf5HVYzPHAc18mDlHIvdgVX918juceuuxxBeIjcuPMHGnLFZXZP/WI7FhatDtyluAMGcikjhymGBzpw2SHx3R7MLmZns0NdjixR7NfJgbnJDUO+CwC5c5IHHTrv/iDGBw4P++a1PAecTnk7rrAqTwxJZHkMMwBilP4YrTw2ji2NIAepwiq+ffBknbuPyCrh6WF+zQwgdbOsGVZhzwxMUCJDX5SOkEOQ8iu2chDvUwc0B5BwCytlrksAQAAA==" />
    <add key="/amdcpu/0/clock/0/values" value="H4sIAAAAAAAEADPszVKdznfdg4HhwP9rtbWMDECQ/sLDecK7LCYQ2wPI5t92lQXGhom7o6lx3LWaE8ZeIJoNFncDsuMrIWq80NQjs2HqQWY2HMc0H2RO/XFMc9DdoHAXuzthZnoi2QVS87+PsL8WLHFgR1fjhkO9J5peASLCLWF6Ix+MXX8c080g8QsrxHjQzUG2yxVJrzeOMHRH83t/Laa/QOYshKrxQgu3eiT3bLRBmJO/ANM9ILuYRf+LM4DBgf/vvaeC01USkvkgveujMP2F7mYUe08j3FyPxY8g8YACRHhiS1cg8flY4tQdzW3YwscNLQyR4xcAc79Y+0gDAAA=" />
    <add key="/amdcpu/0/temperature/0/values" value="H4sIAAAAAAAEAG2UvUoDQRSFRxFJIWKjYqeFj2BnkUnlU1haRNDaQpy0VhaC7Vr4ADZ2whT7lz8VwVhFQsAERNKZwmZdsu7eb3S3OgzfPefeuzu7eVDfvlp+3VPKJjeV0zk1ezZqF5P6/ExWB/osyvWDLs7Vl2j7hvNH0dUx9Df4J21yTzXWt7uHmTbPev8k54eoHcG/q69Xf3nVQW9dMCPxtwlyJ6IHFZnR9JDVgQ/9p5Kb9ib+Q2GUW8udSG1beNuBD3jDWdroH/qPT2mubUF/gGlh/2BMU3t5nyYGE6O2D893zN6UGQ35WNvG2lKuC95EmD0CH0kP1mUkC7wNnayih/Rc+BCzgDfQVfqEeuc8Wc+0Te57l9m9MFs18Z9i/65nkeUtyjemPpEVO+9CZuk7++FOpNY9X7l7WfjHqLBc2wA9B7hHYfm5Aa8Cmcv4qKWnjywwKX/kiY/cBR/vF7Vprofa47La9J/zA6JWPX28BAAA" />
    <add key="/amdcpu/0/load/4/values" value="H4sIAAAAAAAEAGu4lag6ne+6BwPDgf+uU1oZGYDgS6Caw4R3WUwgttXGyfb1xyHstdd/2cPErXnb4WquXXaGs7vmusPZPsaT4OrPThKCiyctX+vQADXT4oeL/UabbDC74IOjfVwlRJyhoROu3u/NETuEe3QcFopmw8VhblstpgtXP8myDG6+VdhkuPiZ/lg4e1e4DpwdUjLRHpubRaxFHWDmM1lOskfY62IPMx8EYGri85ztkcMNxgYBmN4dRu1wM9XLpsDNqdr+Ha5evUwE7rZNOt5w8SX7p8DZSeodcHOQ3Q8yE8bm6EOw7X64wM084qcDD5+CDwftkMLZfgHUnfsDheFqcrj3w9WIhByHm3n3tyM8bayYpA2Pl006p+0Q7vxmn78Awr59CBEmFj8Q4QkCMHGNsh/2yHoRYXUMHlaNSaIoaQPmZosfR+BqkN3GwOABN1OmBmF+j/0RuBsSkexiYDhhBzPH+dM3uPqilV+Q0sZUOHvWnJP2xud/iUP0Hvi/f+JMcD7a5ZsADxOBci14fIHSPFyv0mS4mzdc1kL2F1wNyG2I+NVF8TvMTAOk9JOEpB4574DMbMCSVrMyviKZ7wZnb2s9DGd/v/fFHmHXZHi4rShxhfsLlF9g4vM+68LFW7Q/w+1NKPkK1zuh+Bzc/cj5DgRgauLzDtvnLYDFxRGkNDMNbqZMfylSmLjA03BIyWF42tPrFoS7DZQ3AXMKuiT4BAAA" />
    <add key="/amdcpu/0/load/3/values" value="H4sIAAAAAAAEAHVUMUvDQBSOIjjVgkHEzcVm6aRbI+YOFAQh4ORUoXHSgk4GBKEZlFIXKxVEMBhxdTAO4qQdrnSUDmIQ/AUWxw4u8a7tvXvVNNPH8d533/ved/E+CnMXE++rmlaPV86PRzT+dRoNWv3eGRU4jq9JqdnDuVAn8jzU16Cm4j/B+RdbgvN9ZwPwVbQNWDfXqdfntNvLNFwsdnFUSdHNg945sw+hXtMC4HedMrmZKgKW2gpGB2qiyifxQPMW8PjRJeB7/Zaq+hRgZmeBxzFc4DfceSrvFZol/6TZQhpcksTD7CPoZfYd1PMa4NG0WYruRbhjKT/H4dwMa8Az2JsBbLcZaMhw/RLneK+8V/CovbRI0NcpZpE1DpqrwWdRfs5QnA3kD1E6dbIXSJ/ziXvE/FgPnlH46TX/eys4A3Svh/SkH9/G/ubW5zlUu8gCP+7F+rmHFtasdlEmC68/0z3/6/HL2WX37aTLpwM5ScqGifxvs2f81lAm84AN92Fgv5IT57aAcoJ9HjYX9hDPJd475lT7rcG+hJ/KN2YNeY8Wzo/yhFmlBD04D6J3N1A65bmYS+VW7ZTroSoDDPJ2wv9LsrfiV+kv16GhmuwEAAA=" />
    <add key="/amdcpu/0/load/2/values" value="H4sIAAAAAAAEAGu4lag6ne+6BwPDgf+uU1oZGYBAo6zLYcK7LCYQ2+/NEbv64xC2h80eO5h4wYeDcDYIIKuHseN+C8HNqd+mDWfPu6Hr0HAcptfDfqNNNpht8cPFPq4yC8qeZI8w3wOJfcJ+oWg23F6Y26Z78MPNT1L/Zo8wH+G2mpn74Go2Crs5YHPzPI9+e4S4iz3M/KKVX1Ds/d93lQXdfKDb4Oaol7nB1cfnOcPNAdmFzW3IYYssjhzOR57OhpuDHCYFHxzh7AYehPiael0HZHNg9uZw29sj27UA6k5cbgO5H1m9wl1Mvy9YtcoufwGmXlCYwMIBPc38OzVdCsZuOI4ZF8jmoIqfsDM+/0scwj7wf//EmeB0a9F32GEhkl/qsfgF2S4GhkR4+FhtFMaaHtTLpsD97mN8BCkeXeyxuROZjRzmyH5H9yODzSFRGBNmvprHFhQ1yP7KQwpnRSxxAXIbLE6Vjm+ExwtIL8ycH5/nOQAA1J4imPwDAAA=" />
    <add key="/amdcpu/0/load/1/values" value="H4sIAAAAAAAEAIVTsUrDUBRNXZzqYCriB0iXbi5ihbxXWhCErk4ttJsKdmrBKVlEUxCUCFIwmO4Odutmh0pGcWoQ+gGCOImgS3zP9r53ggEzHS7nnXvPuTfOS2P9emmyYxijuHJ1kjHEF35VShfvBwsSR+6U2eEMV9/GFtXj+JYR3hp4CvvRGifcbu4p3AEsOc5cszgw+WD7cK5j8voxcV6VZq6YAZ1T1l+Z8SduTc0WuVnFMQUf9anu+psK35u7CT7hrj9k2nsNvJc59e0KHdI3jCA1H8FXOmeCT29lHfiMdHAeP9pXuJn/tHTO6GWYmI3q42qBA1/NsFx8TuyL+gps6bd3LJjPKbET6hwgE9jvIrdD3Ys8Yt9GvsNawd9eMiviSw7Mr3Ay23LqzLIeqL6e5QCf3qImesmJTPRexlZaL9wp+sIZpObG0/fqbOZR/HDZ+/2PPtrZUl/lWVBZNcGv9E69bqIe15rnHDzCbSAny/X9T0FT38wjeJde/vOFd5vkeJYN95Cem96pzNyGfcH/CHfiMbwf6jUBfVk/CrQv1Mddw/+SuGG6PZk5vY3jFv8B2ulH+PgEAAA=" />
    <add key="/amdcpu/0/load/0/values" value="H4sIAAAAAAAEACvYnKg6ne+6BwPDgf+hu1sZGYAg2GOR44R3WUwgdkNSuEP9cQg7pfeoPUz8VcgmBxg7RiYcztYIOwFniz/9BGdHGrPAzTy07ptDA9TMtm07HDbaZIPZ567McYirhIhz6T6B6y1+lAxnH+nzdlgoClEvas0Id9uqW6vhalZqLoObf6LtAVz8zn4FuBvqSqXh7ILeyXA1nydqw9mPO9Xg5qfKX4HbG/TmCML9cy3gambtOQIPn4ucr+Bsm4vP4Hr3GyHCs2/vZLg5QaxH4fbe3c8Ed1tI5RS4OZPvzoSrObG9Fm5O3tmDcPFfE3fA2X9L1ODsKzd2w9klV1zg9nLMuwM3vwoY1wug7uRaawdXk3zyK1yN4SWE27LWToO7YXbVS3uYH9sYd8LVZ01gc8hfAGG/WbgDLr7wNkK9lTIj3G3Sv4XhbOSwVbJ+ZQ9zz5cjiHT4uvOuPczNsxbsgKsJ6DtiD9PLz4Bwz8w93+Bs3vqt8HhJf4NQn55zEW7Osj134epl7RDuT3+DEHdvl3JQWvFLnAEMDvy/sGMmOB/Jbqh2hJkvxXAR7he9ZHa4H48dk4SHMwOPKzxsE9TV4GyLjY/h6ksXmSLypv5KuJnWpxBpeP5chDuVrC/C2YncCH8h++XTipdw9upgRFw48SHY79bOh4fPn43C8HATOXcXLn5BeC08Ti85SsHdxu04H27vDhVGuN6qyxfhetUUEOkwVP0b3JwzPUfs86Dp59LbI3DxqBxEelDpRqQZi42T4WnYb1YYPO2dTXKB23vulIwjAH53Jt34BAAA" />
    <add key="/lpc/it8771e/control/2/values" value="" />
    <add key="/lpc/it8771e/control/1/values" value="" />
    <add key="/lpc/it8771e/control/0/values" value="" />
    <add key="/lpc/it8771e/fan/4/values" value="" />
    <add key="/lpc/it8771e/fan/3/values" value="" />
    <add key="/lpc/it8771e/fan/2/values" value="H4sIAAAAAAAEAPM6oaE6ne+6BwPDgf/ySZFMDFBwyufXQhi71XqZJIR14D+fNUINT8dxfxgbAPMCWnBIAAAA" />
    <add key="/lpc/it8771e/fan/1/values" value="H4sIAAAAAAAEAPM6oaE6ne+6BwPDgf/ySZFMDFBwyufXQhi71XqZJIR14D+fNUINT8dxfxgbAPMCWnBIAAAA" />
    <add key="/lpc/it8771e/fan/0/values" value="H4sIAAAAAAAEAHVTMUvDYBCNUoounVQQBHUQHDq5dhHJUDqIW3Arcauou4opiLvBgnSLg5IviP6FQAvxD1Sh4ORYaMU/UHup991L85npcbx79+5dvtrb9tZ96aNqWfF43T2ctybf7ntoe0kjxa1vZd8Op/hoLdIY6899ZT8sH6f450Xp3oNr4fhtZey9LEZ2MxEd7h2BJs3lursTZfww56IonH5XaU3Ceu6JGXeBcw471qvijTwHf7Pc1+zuzEEPtBdyGBMHszoL8h6obuoljpfk68hHHQX51wah9nm3IvWhZcbIQVyOQ407jtTp1uxtdhcfONqnY9a/grss7Ek+2Eu78y0221kPvCPpbHz2Cow92J3zJw/as5P1YMpqceLnpvK0aqVfPC5Vpu8lXJL3MoIM98uiUx9Ibg1P8FdL8GNPcGFOvFEOmIkpQ6z/55/8mPiYLdaRT5j90N05w9m5HuTvG/6TDmROmniL00A8oH4zyevgXLoLav4CPRJEENQEAAA=" />
    <add key="/lpc/it8771e/temperature/2/values" value="" />
    <add key="/lpc/it8771e/temperature/1/values" value="H4sIAAAAAAAEALNaqKE6ne+6BwPDgf/6nZFMDGDg4fRaqawMxp74Lgsq7u40Ac72cNpw2oEdxs5fgE2Nu9MC0Wy4eoFtV1lg7PrjCDUL4WrckcQ9nBTuItQjm9mApAbZPSUiyyQh7AP/5ZMQfumvRbgT2RyE+chudkNxw4FGMR5serGzcanxcOL/NF0Kxm44TsgcVyQ3uDkBAETbU0ekAQAA" />
    <add key="/lpc/it8771e/temperature/0/values" value="H4sIAAAAAAAEALNaqKE6ne+6BwPDgf/6nZFMDGDg5VR/PAvK9nGa8A7G9nY6+MmBHcZGqPFCUuODg+3l1HAcYQ5Cr6fTQtFsKNvDaX2UGA+MjdDrieIG7OZ7OO3zWaeGqdcdRY3AtqssmGpckdguTgp3YWpcUPQim4lwv4tTvsR7XRg75e1SSQgbOTzdkNR7oJiJCBNUN2C3F9XN9Tj06s1itYKxAR94OjfgAQAA" />
    <add key="/lpc/it8771e/voltage/8/values" value="H4sIAAAAAAAEANOs0lCdznfdg4HhwH+HDZFMDECQ8DTA4ZTPr4UwdvCxpZIMYICqhqfjuD+MDQAE+QuDSAAAAA==" />
    <add key="/lpc/it8771e/voltage/7/values" value="H4sIAAAAAAAEANOs0lCdznfdg4HhwH+HDZFMDEDgts3Y4ZTPr4UwdvCxpZIMYICqhqfjuD+MDQDi++qNSAAAAA==" />
    <add key="/lpc/it8771e/voltage/6/values" value="H4sIAAAAAAAEAJMM1lCdznfdg4HhwP+A65FMDEAgrX/X/pTPr4UwdvCxpZIMYHDgv8MGhBqejuP+MDYAgGKhtUgAAAA=" />
    <add key="/lpc/it8771e/voltage/5/values" value="H4sIAAAAAAAEAJMM1lCdznfdg4HhwP+A65FMDECwbLaL7SmfXwth7OBjSyUZwODAf4cNCDU8Hcf9YWwAMhzpeEgAAAA=" />
    <add key="/lpc/it8771e/voltage/4/values" value="H4sIAAAAAAAEAJMM1lCdznfdg4HhwP+A65FMDEBgGvfLvv54FpjdfOCX/YR3WXBxGPvF759w9r8rP+wddq3mhLFh4j7mP+0bjiPUwMwEmbPhtAM7jL1QNBtuJkyNN5pemHp082FsZPWzZv60XwA1E1kNSC8296CrQTYf5jaQeP4C7Gqw6UX3L0wc5DZs6tHFGwi4DV84YDNzJhIb5J4FSxDhDxPHFdfo4vNx6G1A8u/+RjEeQmqQzQw+tlSSAQwO/HfYgEiH/bWYduEKww1FP1D8ixz+CpIzpLClbVj8ovsRWY3i3assMDaymch686Bp46LSb7g4SE0DgXxkhmQXyM0AFakjopADAAA=" />
    <add key="/lpc/it8771e/voltage/3/values" value="H4sIAAAAAAAEAJMM1lCdznfdg4HhwP+A65FMDEAwRYLF4ZTPr4UwtlHFUkkGMDjwP/EfQg1Px3F/GBsAQJxk8EgAAAA=" />
    <add key="/lpc/it8771e/voltage/2/values" value="H4sIAAAAAAAEAPvBoqE6ne+6BwPDgf+FqlFMDEBwfTGDQ/3xLDCbT5fJYcI7CDumH8E2jUNlLxTNBrMPnmKE6wWxYWpmzUSwfcxR2Q1Q9c9/I/SC1MPMBLkBJo7sBhAbm70g9Q3HMe3F5R5kPyKzQeph5hRnMDosgNoF8q/AtqssMDa2sEL2I0gc5s4DQDPzFyD8C1PzAshWuAsx8wVSOCCHM7L7kdn/rjCgmNOAxT3I6pHtRRbH537kMOeH+h3EnogjPRCyC6QGFg4gcxx2reaEsZH9Dgs3fOLyOQi9RhVLJRnA4MD/xH+R8PDBFp4g9Q1YxA/gSCfI7gelh3qktIEtjyCz0cMQm7241COrwZUf8YUPsl7kfLRgiQM7jL0QKW3nIcULsjnY0hVIPT9SXgAApRJ9T1AEAAA=" />
    <add key="/lpc/it8771e/voltage/1/values" value="H4sIAAAAAAAEAHt+V111Ot91DwaGA/+bfKKYGICgWoTP4ZTPr4UwtlHFUkkGMDjwP/FfJFwNT8dxfxgbANlUcYxIAAAA" />
    <add key="/lpc/it8771e/voltage/0/values" value="H4sIAAAAAAAEAHt+V111Ot91DwaGA/+bfKKYGICg9fVE+/rjWWD2gVOJ9hPeQdidjgn2DrtWc8LYMPEVx7rh7AtK1XB2cUajfcNxhF6YmSA1C0Wz4eL8266ywNgw8bS0NLh6kDjMnC9/S1DcA2P3HypFEVe4izATptcvqcB+AZK9/bUO7OjmHDjViGIOzD0ge/MXYNob05+Eoh7ZLzDxKpE8rG5eNnsKiviBRjEedDU/gptR1NSdO2IEYysGLpVkAIMD/4tUIXHHw9SNEm4CWNyT8xwRRy2vC7G6Tau9DCW+CLmzwDYLRc2FFZhqXqoVorgt/46OBIwNAI5yWlyIAgAA" />
    <add key="/intelcpu/0/load/1/values" value="H4sIAAAAAAAEALOZGc69ke+6BwPDgf9sLscYGYBgXthkx/qEJCYQm+GAhuNFXSibIdHxRW4amN3119wxrDYdzBapfubg4ZcKZu+YtcVh9b4UMPvNbw7H6rnZYHaByxbHbRshasomTXb8wAk1c8Msx1U9UPYCHsdUUwg7dEK/g5dQMkS8YZHD+z2JUDesd9jsDLH3SB6T49tzELb6NwWHS1wZYHZa+gGHchGIuE/OPwfRCRB73xxJc5yhClGjEcbkeNkDouZqZ4fDtBUQNwtbszmevA9hq5fdd5CWhrDVzBY5TGjOBLOll5c4suqeeA9xz4H/hgYLwOH2ROKp4/02qDsVUhxZQqH+eqDt6P83BerHGMciAYh7juy74/ipFaL+l90hhxV+adDw/O/wLSMBot7hnMPWv9BwcGh2+GQAUWO18Z691L4sMLsyaYHD9ZsQu6w3ljvUnIP4ccGMmw4KsHhk8HCMOQExp2jhcYfPv6akbYS6HwC8tihxBAIAAA==" />
    <add key="/intelcpu/0/load/0/values" value="H4sIAAAAAAAEALOZGc69ke+6BwPDgf9sLscYGYCgOa3bsT4hiQnEZrhg5nhRF8oOiHF8kZsGZne91XQMq00Hs98cOezg4ZcKZq++uc1h9b4UMJuDU8Sxem42mM32sstx20aIGt/M9Y4fOKFmvpjpuKoHyjbgc0w1hbCfdi118BJKhognzHd4vycRzN7kM8dhszPE3ksvXzu8PQdhd8uqO1ziygCzKw49dSgXgYhvCBZwFJ0Asbfrrq/jDFWImnkcQo6XPSBqRKqzHaatgLj56D52x5P3IWx1s5sO0tIQ9g2mrQ4TmjPB7L7iNEdW3RPvwW4DhpuhwQJwuD1ZsMnxflsi1F8NjiyhUH8JhDn6/4WYsyE5xbFIAOKesqTrjp9aIeqTbjx3WOEHCdsbnGyO3zISwOxfRy86bP0LDQeGKodPBhA1thddHaT2ZYHZWW+3Oly/CbGrSWq2Q805iB93pe5yUIDFY4O1Y8wJiDkccy84sFyZkrYR6n4AM0d/5wQCAAA=" />
    <add key="/intelcpu/0/power/1/plot" value="false" />
    <add key="/intelcpu/0/power/2/plot" value="false" />
    <add key="/intelcpu/0/power/3/plot" value="false" />
    <add key="/intelcpu/0/clock/0/plot" value="false" />
    <add key="/nvidiagpu/0/temperature/0/values" value="H4sIAAAAAAAEAOveU8u9ke+6BwPDgf9vby5hZAADDceXUUlMDFCwtVLRHMY+7/PjPYR14L8ffwFUvYLjtrpEuPqSVGl5GDsnfl7aRqh6AA5n7HZsAAAA" />
    <add key="/intelcpu/0/power/2/values" value="H4sIAAAAAAAEAKuYpsS7ke+6Rzqbq+3LqCQmBiBQMcqz/WYLYV9ik7G1zE0Ds9+I7bJ5ujQdzF6Qe906RD0VzJb4oGGTuS8FzI7pvGhza142mF01/5l11gaIGodWFZsMQYiZXK4vbMxaIez5FpK2fKYQ9temz9ZpQslg9gc2DRu2vYlgdqrTLptd5hB7ZzyztplyC8K+tLLXOoY7A8z2FXGwMVOHiO9zYLP1q4XYGzFB21bHHKLmQ90XGxsPiBoh4QCb0ukQNz89yGV78SWEnZuqYXNAAMJekydm86YlE8w+fK3Z9onWifcMYHDgv6XhAkYQK/Sooe22Oog7E95st5GLhfjl1ZYDNspsEDdsM+yxyWOHsBPeJtgKzoCoT8o4YPPTDhK2r1/vtNmVlgBmz/rQaKP7BhIOSdMNbDY4QNTkT+e0admXBWYfbyix4b8NsUtRPsfm7QOIHwOYJtq884WIf2yytt12HGKOe+o7GwB26KE37AEAAA==" />
    <add key="/intelcpu/0/power/1/values" value="H4sIAAAAAAAEAKuYpsS7ke+6R5P4RPuXUUlMDECge43B/psthF331d3eMjcNzLb1brZ/ujQdzE58Pc0uRD0VzJbJO22XuS8FzO6TeGJ3a142mN11j9UhawNEjf/1JocMQYiZeW4KDmatEPa8i4r2fKYQtpBZh12aUDKY7bSh2Y5tbyKYPXFDp90uc4i9nurm9lNuQdgb+ovtYrgzwOx4FV97M3WIeOShxXZ+tRB7XWJs7HXMIWqC8iXtbTwgam59DrQrnQ5xs8m/tXYXX0LYkh3B9gcEIOwtm5bYvWnJBLO9o/Tsn2ideM8ABgf+WxouYASxlAwO2W+rg7jzz+Ov9nKxUH/5Ztkrs0Hc0HQm1z6PHcJ++d3IQXAGRP2xa7/sftpBw/bgGbtdaQlg9jOd6Xa6byDh8CGlyW6DA0QNX1mXXcu+LDD74s0Jdvy3IXbtWFpr9/YBxI9ybdPt3vlCxNc4vbTbdhxiTvut6XYASQ1emuwBAAA=" />
    <add key="/intelcpu/0/power/0/values" value="H4sIAAAAAAAEAKuYpsS7ke+6h10Ji8PLqCQmBiCQ23HI/psthD3j+2N7y9w0MPvOl5f2T5emg9lWt8vsQ9RTwex7Qu32mftSwGx5obn2t+Zlg9n/Jrg6ZG2AqHkyYYlDhiDEzIa9qQ5mrRB2Xvdxez5TCHtFaZp9mlAymK14LMuebW8imG1xuc1+lznEXr7b2+yn3IKwl9rF2sdwZ4DZQqGH7M3UIeKGv/vs/Woh9i6rPGOvYw5Rc27mBnsbD4iaJ8vC7UunQ9w8i6nb/uJLCPtS+mH7AwIQ9kKHhfZvWjIh7sl7Yv9E68R7BjA48N/ScAEjiLWuX8lhWx3EnbNOODjIxUL8EnX2hb0yG8QNfhOe2+exQ9jHbOscBGdA1B9bucz+px0kbIsOTLfflZYAZs/b3Wiv+wYSDiuMcuw3OEDUlDvl2LfsywKztb6W2/PfhtjlXFZq//YBxI+iz7vs3/lCxD/IrLbfdhxiTsTjdnsAwpcdm+wBAAA=" />
    <add key="/intelcpu/0/load/2/values" value="H4sIAAAAAAAEALOZGc69ke+6BwPDgf9sLscYGYAgrazZsT4hiQnEZnjg4nhRF8peEO74IjcNzO66K+0YVpsOZh/jW+jg4ZcKZs+X2Omwel8KmK0uJu9YPTcbzLaUdnbcthGiRsnhtOMHTqiZCjMdV/VA2Qf4HVNNIezq1t0OXkLJEHGHOQ7v9ySC2SkzOx02O0Ps1fh2yeHtOQj7vYuuwyWuDDD7SB+rY7kIRNy6UNFRdALEXvVvJo4zVCFqRHYrOl72gKgpeuTqMG0FxM3lTpyOJ+9D3Q80X1oawu49f9xhQnMmmP3PPsKRVffEewaIo/8bGiwAh9sTjQbH+22JUL/0O7KEwvzY4Oj/F2JOknqOY5EA1D1slxw/tULUP9nB5rjCDxK26mE8jt8yEsDsL95XHbb+hYZDQ67DJwOImo8qfQ5S+7LA7LiK0w7Xb0LsSojZ5VBzDuLHU0azHRRg8cig7xhzAmLO3Bk3HT7/mpK2Eep+AO+xQZoEAgAA" />
    <add key="/intelcpu/0/load/3/values" value="H4sIAAAAAAAEAOt5JH0gmf+6BwPDgf8AUlekLwwAAAA=" />
    <add key="/intelcpu/0/load/4/values" value="H4sIAAAAAAAEAOt5JH0gmf+6BwPDgf8AUlekLwwAAAA=" />
    <add key="/intelcpu/0/temperature/2/values" value="H4sIAAAAAAAEAHO6K8u7ke+6BwODkVN9QhITAxioO13UhbFVnF7kpkHZak5VE9OhbCUnFatUKFvRafW+FDi7em42lK3qtG0jTI2l0wdOmJnaTqt6kuDqU01hbHknL6FkOPv9nkQoW8Zps3M6nP32HIwt5XSJKwPKVnaKVIOJSzsZ16XCxWeowtRIOl32gKmRcJq2IgUufvI+wv3S0ilwNROaM+Fqoj+ceQ9hH/h/O2c2I4St73S/DeZOHSeWUES4+f9FmFkkAHOPrtOn1kS4+Aq/NHh4fstIgLIVnLb+RYTDJwOYGjknqX1ZcPb1mzC7ZJ1qzmXAw6dG4xgLjA0AwNt69OABAAA=" />
    <add key="/intelcpu/0/temperature/1/values" value="H4sIAAAAAAAEAHO6K8u7ke+6BwODnlN9QhITAxgoOV3UhbHlnV7kpkHZik4re9KhbGmnBX9PssDY1XOzoeIKTts2pkLZJk4fOGHmqDut6kmC6001hbHFnbyEkqFsMaf3exLh4pudYXaJOr09h2Bf4sqAm1MuAhMXcRKdkAp35wzVDLh45sfTLDD2yfspcLukpVPgZk5ozoSzoz+ceQ9hH/h/O2c2I4St5XS/DeY2DSeW0CS4f/3/wsyRcSoSgLlBzelTayJcfIUfLAxlnb5lJMDdv/UvzO9STp8M0uBsqX1ZcDXXb8LsknCqOZcBV6OQgBCPOZEMZwMAcHYjJNQBAAA=" />
    <add key="/intelcpu/0/temperature/0/values" value="H4sIAAAAAAAEAHO6K8u7ke+6BwODvlN9QhITAxioOF3UhbEVnV7kpsHZYbXpULaMk4dfKpy9el8KlC3rVD03G8pWdtq2EabG2OkDJ8xMLadVPUlw9ammMLakk5dQMpz9fk8ilC3ltNk5HS7+9hyMLe50iSsD7rZyEZi4qJPohFS4+AxVmBoRp8seCDXTVsDcLOZ08j6MLeckLZ0CVz+hORNuV/SHM+8h7AP/b+fMZoSw9Zzut8HcqeTEEooIN/+/CDOLBGDu0Xb61JoID7cVfrCwVXD6lpEAD5Otf5PhanjeX2CBsa/fRIRVzTmYvyScFBIQ4jEnkuHhBgBam0Dp4AEAAA==" />
    <add key="/intelcpu/0/clock/2/values" value="H4sIAAAAAAAEAKuYpsS7ke+6x7fz211eRiUxMQBBQ5K7yzdbCJuDQcnFMjcNzN4rHOXydGk6mH3eL8ElRD0VzL4IZGfuSwGzV90Idrk1LxvMNjCTcs3aAFHjYsjjmiEIMfOA8C0Xs1YIO0vd0YXPFMK+BDQnTSgZzH7SmebCtjcRzF4JNHOXOcReeetKlym30uH2xnBngNkK1itczNQh4suB6v1qIfaujFjtomOeARe38YCouQzUWzo9BW7+xZcQ9gqg+gMCEPZ+oH/ftGTCw+SJ1on3DGBw4L+l4QJGEKtV5JbLtjqIO7kZFrnIxUL8YvCt1UWZDeKGC0C78tgR7hGcgfDXTztI2JqW1bvsSksAs/cA7dV9kwzXu8EhDR4+Lfuy4OHPfzsJzn77AOJHXoZil3e+EPFJc31dth2HmLMPaCZv1ZS0jVD3AwCFtNuZ+AEAAA==" />
    <add key="/intelcpu/0/clock/3/values" value="" />
    <add key="/intelcpu/0/clock/4/values" value="" />
    <add key="/ram/load/0/values" value="H4sIAAAAAAAEAPv1PJV7I991DwaGA/+NfUKZGICg6fMPR4noJDB7cdQPxxKRZDA7VPSHY+O3VDC7se2H468kCHv1jh+O5V6ZYDb3oh+OvwMh4rvv/XS8eDoDzH4p8duxjgcinu/wy1F5FsT8BbW/HDv6Iez1s345nrCCsOdm/nJ8xAWxd6X3L8eFHBBx846fjjU/08DsSLufjlP3pIPZzOo/HYtnZYHZlZI/HT9uSgGzc97+cPxqCnGbwJkfjgtvQPQ+2vzD8fsliJpH6384xv2BsDOA/rKfCWFLTP7h2DkNot5q4Q9H/t8Q9+84+t2xP9v0PQMYHPgvxmMMFj9+RsZpmTnEnYtcZJwmzIWwn+vKOMmaQ8z89lbGKfcIxJzNH2WdwnsTwey0G7JOffEQu1z2yzq17k8AsyMOyDqxf4SoD9gr61TkBlETs1HWabIPJGxPr5J1utgOCYcWINtMCmLX3QWyTjqpEDfonZR1Uj0CCU+N9bJOJcb/UjdC3Q8A1uFXsAQCAAA=" />
    <add key="/intelcpu/0/power/3/values" value="H4sIAAAAAAAEAKuYpsS7ke+6x4UYYfuXUUlMDEDQMUfc/psthP1lq7i9ZW4amK1jyGP/dGk6mD3r52+7EPVUMFtjP4N95r4UMPuiEYf9rXnZYLYun6R91gaIGhsbcfsMQYiZyaby9matELZzMp89nymE/VTrt12aUDKYLS/6z45tbyKYfU6b1X6XOdTefEb7Kbcg7IxvX+xiuDPA7OoXjPZm6hBxplWc9n61EHslWgXtdcwhanIPcdnbeEDUOGz9ZVc6HeLmg13s9hdfQtjlcxnsDwhA2Lu0Ge3ftGSC2dlLxO2faJ14zwAGB/5bGi5gBLG83MTtt9VB3BmoJGIvFwsNNxcBe2U2iBvYEwXt89gh7P73pvaCMyDqS+Zz2v+0g4Stjzmn/a60BDC7+yyTve4bSDhkvPlrt8EBoube+p92LfuywOw/qxnt+W9D7Lrkz2j/9gHEj+4XWOzf+ULEKz4L2G87DjEnbyGbPQBLzxDI7AEAAA==" />
  </appSettings>
</configuration>